OPENAI_API_KEY=
CHROMA_API_KEY=
CHROMA_TENANT=62bd10e5-beab-41db-85f9-cdc77617a275
CHROMA_DATABASE=LDPOC
CHROMA_COLLECTION_ID=a06f9877-4928-4396-93bf-8d05f78fc162
NEXT_PUBLIC_APP_URL=http://localhost:3000
DEID_SALT=change-me-to-random-string
